@page
@model UploadProject.Pages.User.IndexModel

@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Users</h1>

            <p>
                <a asp-page="Create">Create New</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.User[0].IsAdmin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User[0].Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.User[0].Password)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            @foreach (var item in Model.User) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsAdmin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
            }
                </tbody>
            </table>
        </div>
    </div>
</div>